@charset "utf-8";

* { margin: 0; padding: 0; }
body { width:100%; overflow-x:hidden; }
a { text-decoration: none;}
.clr-fix { clear:both; }
.clr-fix:after { content:""; display:block; width:100%; clear:both;}
.wrap { position:relative; }
ul {list-style: none;}

/* header */
.hd_wrap {clear: both; width: 100%; position: relative;}
.banner {width: auto; height: 100%;}
#gnb {clear: both; width: 100%; position: absolute; z-index: 111;}
#gnb > .menu > li  { float:left; width: 14.28571428571429%;  text-align: center; } 
#gnb a.dp1 { background-color:rgba(16, 29, 99, 0.2); display:block; line-height: 50px; height: 50px;  color:#fff;} 
#gnb a.dp2 {color: white; font-weight: 300px;} 

#gnb .sub {display: none; line-height: 50px; background-color: rgba(9, 5, 31, 0.562);}
#gnb:hover .menu .sub {display: block;}
#gnb .menu li:hover .sub {background-color: #fff; }
#gnb .menu li:hover a.dp2 {color: black; font-weight: 500px;}



#gnb2 {display: none; }
#gnb2 {clear: both; width: 100%; position: fixed; z-index: 111;}
#gnb2 > .menu > li  { float:left; width: 14.28571428571429%;  text-align: center; } 
#gnb2 a.dp1 { background-color:#fff; display:block; line-height: 50px; height: 50px;  color:black;} 

#gnb2 li:hover a.dp1 {background-color: rgba(0, 255, 255, 0.13);}
#gnb2 .sub {display: none;}
#gnb2:hover .menu .sub {display: block;}
#gnb2 .menu li:hover .sub {background-color: #ccc;}

/* contents */
#contents { width: 100%;}
.page { clear:both; width: 100%; min-height:60vh; margin: 0 auto;}
.page:after { content:""; display:block; width:100%; clear:both; }
.page_title { text-align: center; padding: 1em; }
.page_wrap { clear:both; width: 1280px; margin: 0 auto; }

#page1 {width: 1280px; background-color: white; z-index: 0; border: 1px solid #333;}
#vs { clear:both; width: 1930px; height: 600px; overflow:hidden; position:relative; margin: 0 auto;}
#vs img { display:block; width: 100%;  height: 100%; position:absolute;  z-index: 0px;}
.pagepage {width: 100% ; height: 2000px; background-color: #ccc;} 


#page2 {width: 1280px; padding-bottom: 2rem;}


/* breadcrumb */
/* border-bottom:2px solid #777;border-top:2px solid #777; */
.breadcrumb { clear:both;  padding-top: 24px; padding-bottom: 24px; text-align: right; box-sizing:border-box;  padding-right: 40px;   }
.breadcrumb p * { padding:0px 7px; color:#333; font-weight:bold; }
.breadcrumb p a:after { content:">"; padding-left: 14px; }

/* sidemenu */
.sidemenu {float: left; width: 250px; height: 600px; margin: 0 auto; border: 1px solid #333;}
.sidemenuli {width: 250px; height: 60px; margin-top: 20px; border: 1px solid #333; text-align: center; line-height: 65px;} 
.sidemenuli:hover {background-color: #247bdf;}

/* festivalinfo */
.festivalinfo{float: right; width: 900px; height: 500px; margin: 0 auto; border: 1px solid #333; margin-right: 65px;} 
#festivalinfo {width: 100%; height: 100%;}
.mySlides {width: 100%; height: 100%;}

/* footer */
#ft a{font-family: "Nanum Gothic", sans-serif; font-weight:500 ;}
#ft p{font-family: "Nanum Gothic", sans-serif; font-size: 13px; }


#ft{ width:100%; height: auto; background-color: #1F1E2C; }
.fc_wrap {position: relative;  width: 1290px; height: 180px;  margin : auto;  }
.logo{position: absolute;  top:-20px; width:200px; height: 150px; }

.foot_menu {width:1000px; height:auto;   margin: 0 auto; }
.foot_menu ul{display: flex; margin-left: 100px; margin-top: 35px; }
.foot_menu li{padding-left: 30px;}
.foot_menu a{color: white;}


.copyright{width: auto; margin-top: 70px;  height: auto;}
.copyright p{color:#fff; padding-left: 270px;}

.drop{position: absolute; right: 20px; bottom: 70px;  }
