@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-white-100: hsl(0, 0%, 100%);
  --color-white-200: hsl(0, 0%, 90%);
  --color-white-300: hsl(0, 0%, 80%);
  --color-white-400: hsl(0, 0%, 70%);
  --color-white-500: hsl(0, 0%, 60%);
  --color-white-600: hsl(0, 0%, 50%);

  --color-black-100: hsl(0, 0%, 12%);
  --color-black-200: hsl(0, 0%, 10%);
  --color-black-300: hsl(0, 0%, 8%);
  --color-black-400: hsl(0, 0%, 6%);
  --color-black-500: hsl(0, 0%, 4%);
  --color-black-600: hsl(0, 0%, 2%);

  --shadow-small: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-medium: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.paragraph{ max-width: 50ch;}
.paragraph { line-height: 1.5; text-wrap: pretty; word-wrap: break-word;}

article-image {
  font-style: italic;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  shape-margin: 1rem;
  vertical-align: middle;
}

.column { display: grid; grid-template-columns: repeat(3, 1fr); gap: 2.5rem;}
.feature {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--color-white-200);
  }

.article {
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-block: 1rem;
  }
}

@media screen and (max-width: 992px) {
    .article {
      display: grid;
      grid-column: span 3;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .feature,
    .article {display: block;}
  }
  