.tourpage2grid {
  overflow: hidden;
  padding: 0.5em 0 0 0.5em;
  max-width: 76em;
  margin: 0 auto;
}
.tourpage2grid li {
  padding: 0 0.5em 0.5em 0;
}
.tourpage2grid li > div {
  background: #808080;
  padding: 7em 2em;
  text-align: center;
}
.tourpage2grid li.wide {
  width: 100%;
}
.tourpage2grid li a {
  color: #fff;
}

@media all and (min-width: 27em) {
  .tourpage2grid li {
    width: 50%;
    float: left;
  }
}

@media all and (min-width: 40em) {
  .tourpage2grid li {
    width: 33.3333333%;
  }
  .tourpage2grid li.wide {
    width: 66.666666%;
  }
}
@media all and (min-width: 60em) {
  .tourpage2grid li {
    width: 25%;
  }
  .tourpage2grid li.wide {
    width: 50%;
  }
}