@charset "utf-8";

* { margin: 0; padding: 0; }
body { width:100%; overflow-x:hidden; }
a { text-decoration: none;}
.clr-fix { clear:both; }
.clr-fix:after { content:""; display:block; width:100%; clear:both;}
.wrap { position:relative; }
ul {list-style: none;}

/* header */
.hd_wrap {clear: both; width: 100%; position: relative;}
.banner {width: auto; height: 100%;}
#gnb {clear: both; width: 100%; position: absolute; z-index: 111;}
#gnb > .menu > li  { float:left; width: 14.28571428571429%;  text-align: center; } 
#gnb a.dp1 { background-color:rgba(16, 29, 99, 0.2); display:block; line-height: 50px; height: 50px;  color:#fff;} 

#gnb li:hover a.dp1 {background-color: rgba(238, 255, 0, 0.13);}
#gnb .sub {display: none;}
#gnb:hover .menu .sub {display: block;}
#gnb .menu li:hover .sub {background-color: #ccc;}

#gnb2 {display: none; }
#gnb2 {clear: both; width: 100%; position: fixed; z-index: 111;}
#gnb2 > .menu > li  { float:left; width: 14.28571428571429%;  text-align: center; } 
#gnb2 a.dp1 { background-color:#fff; display:block; line-height: 50px; height: 50px;  color:black;} 

#gnb2 li:hover a.dp1 {background-color: rgba(0, 255, 255, 0.13);}
#gnb2 .sub {display: none;}
#gnb2:hover .menu .sub {display: block;}
#gnb2 .menu li:hover .sub {background-color: #ccc;}

/* contents */
#contents { width: 100%;}
.page { clear:both; width: 100%; min-height:60vh; }
.page:after { content:""; display:block; width:100%; clear:both; }
.page_title { text-align: center; padding: 2em; }
.page_wrap { clear:both; width: 1200px; margin: 0 auto; }
#page1 {background-color: rgba(237, 225, 214, 0.23); z-index: 0;}
#vs { clear:both; width: 100%; height:500px; overflow:hidden; position:relative; }
#vs img { display:block; width: 100%;  height: 100%; position:absolute;  z-index: 0px;}
.pagepage {width: 100% ; height: 2000px; background-color: #ccc;} 

