@charset "utf-8";

/* 기본설정 */
* { margin: 0; padding: 0; }
body { width:100%; overflow-x:hidden; }
.clr-fix { clear:both; }
.clr-fix:after { content:""; display:block; width:100%; clear:both;}
* { margin: 0; padding: 0; }
a { text-decoration: none;}
.wrap { position:relative; }
ul {list-style: none; margin: 0 auto;}

/* header */
#hd { width: 100%; height: auto; position:relative; border: 1px solid #333; background-color: rgba(99, 96, 53, 0.014);}
.banner { height: 100%; width: auto;}
.hd_wrap { clear:both; width: 100%; margin: 0 auto; }
#gnb {clear: both; width: 100%; position: absolute; z-index: 111;  }
#gnb > .menu > li  { float:left; width: 14.28571428571429%;  text-align: center; } 
#gnb a.dp1 { background-color:rgba(16, 29, 99, 0.2); display:block; line-height: 80px; height: 75px;  color:#fff;} 

#gnb li:hover a.dp1 {background-color: rgba(238, 255, 0, 0.13);}
#gnb .sub {display: none;}
#gnb:hover .menu .sub {display: block;}
#gnb .menu li:hover .sub {background-color: #ccc;}

#gnb2 {display: none; }
#gnb2 {clear: both; width: 100%; position: fixed; z-index: 111;}
#gnb2 > .menu > li  { float:left; width: 14.28571428571429%;  text-align: center; } 
#gnb2 a.dp1 { background-color:#fff; display:block; line-height: 80px; height: 75px;  color:black;} 

#gnb2 li:hover a.dp1 {background-color: rgba(0, 255, 255, 0.13);}
#gnb2 .sub {display: none;}
#gnb2:hover .menu .sub {display: block;}
#gnb2 .menu li:hover .sub {background-color: #ccc;}

/* main */
#contents { width: 100%;}
#vs { clear:both; width: 100%; height: 600px;; overflow:hidden; position:relative; }
#vs img { display:block; width: 100%;  height: 600px; position:absolute; z-index: 0;}

.page { clear:both; width: 1280px; min-height:60vh; border: 1px solid #333; margin: 0 auto;}
.page:after { content:""; display:block; width:100%; clear:both; }
.page_title { text-align: center; padding-top: 2em; padding-bottom: 0.5em; }
.page_wrap { clear:both; width: 1280px; margin: 0 auto; }

/* main  lineimg*/
.line {background-color: #14a3f7; width: 1200px; height: 80px;  display: flex; justify-content: center; align-items: center; }
.linesize {width: 50px; height: 50px; margin: 0 auto;} 
.imgsize {width: 100%; height: 100%;}
#linebag {background-color:#14a3f7;}

/* main page 4 */




/* footer */
a{font-family: "Nanum Gothic", sans-serif; font-weight:500 ;}
p {font-family: "Nanum Gothic", sans-serif; font-size: 13px; }


#ft{ width:100%; height: auto; background-color: #1F1E2C; }
.fc_wrap {position: relative;  width: 1290px; height: 180px;  margin :0 auto;  }
.logo{position: absolute;  top:-20px; width:200px; height: 150px; }

.foot_menu {width:1000px; height:auto;  margin: 0 auto; }
.foot_menu ul{display: flex; margin-left: 100px; margin-top: 35px; }
.foot_menu li{padding-left: 30px;}
.foot_menu a{color: white;}


.copyright{width: auto; margin-top: 70px;  height: auto;}
.copyright p{color:#fff; padding-left: 270px;}

.drop{position: absolute; right: 20px; bottom: 70px;  }