<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	 <select id="getNoticeList" resultType="com.spring.dto.Notice">
    SELECT * FROM notice
  </select>

  <select id="getNotice" parameterType="int" resultType="com.spring.dto.Notice">
    SELECT * FROM notice WHERE bno = #{bno}
  </select>

<insert id="insertNotice" parameterType="com.spring.dto.Notice">
    INSERT INTO notice (title, content, author, visited, resdate) 
	VALUES (#{title}, #{content}, #{author}, #{visited}, #{resdate});
</insert>


  <update id="updateNotice" parameterType="com.spring.dto.Notice">
    UPDATE notice
    SET title = #{title}, content = #{content}, author = #{author}
    WHERE bno = #{bno}
  </update>

  <delete id="deleteNotice" parameterType="int">
    DELETE FROM notice WHERE bno = #{bno}
  </delete>
  
  <!-- 공지사항 조회수 증가 -->
	<update id="vcntCount" parameterType="int">
		update notice set visited=visited+1 where bno=#{bno}
	</update>

</mapper>