<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="getNoticeList" resultType="com.spring.dto.notice">
		select * from notice order by resdate desc
	</select>	
	<select id="getNotice" resultType="com.spring.dto.notice">
		select * from notice where bno=#{bno}
	</select>
	<select id="maxNum" resultType="int">
		select bno from (select * from notice order by bno desc) where rownum=1
	</select>
	<insert id="insNotice">
		insert into notice values (#{bno}, #{title}, #{content}, #{author}, 
		default, default)
	</insert>
	<update id="upNotice">
		update notice set title=#{title}, content=#{content} where bno=#{bno}
	</update>
	<delete id="delNotice">
		delete from notice where bno=#{bno}
	</delete>
</mapper>